.lusi {
  width: 400px;
  height: 200px;
  object-position: center;
}

.lusi-bg {
  background-image: url(../images/353012536_1676582886144351_7808565727502230506_n.jpg);

}

.box{
    height: 400px;
}
